.boton{
    background-color: $main-color;
    color: aliceblue;
    padding: 10px 30px;
    border-bottom-right-radius: 50px;
    border: 2px solid white;
    transition: 0.4s;

    &:hover{
        background-color: $main-color;
        font-weight: 700;
        font-size: 1rem;

    }
}

.media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10vh ;

    .media-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 500px;
        min-width: 250px;
        background-color: $secondary-color;
        padding: 10px;
        margin: 10px;
        overflow: hidden;
        border-radius: 50px 0;
        justify-content: space-between;

        a{
            text-decoration: none;
            text-align: center;
        }

        img{
            border-top-left-radius: 50px;
        }

        h2{
            font-size: 1.5rem;
        }

    }
}
